@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Noto+Color+Emoji&display=swap');

/* Importar Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;



/* Definir variables globales en :root */
:root {
  /* Tipografía */
  font-size: 16px; /* Tamaño base de fuente */
  font-family: 'Roboto', 'Noto Color Emoji', sans-serif; /*

  /* Espaciados */
  --spacing-base: 1rem;
  --spacing-sm: 0.5rem;
  --spacing-lg: 2rem;

  /* Otros ajustes globales */
  line-height: 1.5;
}

/* Estilo del body */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: inherit; /* Usa la fuente definida en :root */
  font-size: inherit; /* Usa el tamaño de fuente definido en :root */
  line-height: inherit; /* Usa el line-height definido en :root */
  overflow-x: hidden; /* Evita el scroll horizontal */
}

/* Estilos globales adicionales */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: 600;
}

p {
  margin: 0;
  padding: 0;
  margin-bottom: var(--spacing-base);
}

a {
  text-decoration: none;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
